

/* Nav 
/* ================================================================ */

.VPNav {
    --at-apply: 'bg-transparent! fixed top-0 left-0 w-full backdrop-blur-sm transition-all duration-300';
    @media (max-width: theme(--breakpoint-xl)) {
        z-index: 40 !important;
    }

    &>.VPNavBar {
        --at-apply: 'bg-transparent! ';

        /* Doc layout */
        &>.wrapper>.container>.content>.content-body {
            --at-apply: 'bg-transparent gap-0';
        }

        &>.divider {
            --at-apply: 'hidden';
        }
    }
}

.VPSocialLinks::before {
    --at-apply: 'hidden';
}

/*
/* View transition
/* ================================================================ */
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root),
.dark::view-transition-new(root) {
  z-index: 1;
}

::view-transition-new(root),
.dark::view-transition-old(root) {
  z-index: 9999;
}

.group + .group{
  border: none !important;
}

.VPNavBarTitle.has-sidebar .title{
  border: none !important;
}

/* Scrollbar 
/* ================================================================ */

::-webkit-scrollbar {
    width: 4px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: theme('colors.slate.600');
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--vp-c-brand);
}
